
@{
    ViewBag.Title = "Crear Empresa";
}

<h4>Crear Empresa</h4>
<div style="text-align:right">
    <a class="btn btn-outline-dark btn-sm" href="/Empresa/Empresa"><strong style="">Volver</strong></a>
</div>

<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombre Empresa</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Tipo Documento</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
        <td style="width:50%">
            <span>Número Documento</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Email</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Telefono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Dirección</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Ciudad</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
    </tr>
</table>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombre Contacto</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>

<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <button class="btn btn-outline-success btn-sm"><strong style="">Guardar Empresa</strong></button>
        </td>
    </tr>
</table>