
@{
    ViewBag.Title = "Index";
}

<div style="text-align:center; margin-top:50px">
    <label style="font-family:Castellar; font-size:150px; font-weight:bolder">C G S</label>   
</div>
<div style="text-align:center;margin-top:-50px">
    <label style="font-family:Castellar; font-size:40px; font-weight:bolder">CONSTRUCCIÓN</label>
</div>
<div style="text-align:center">
    <img class="rotate" style="height:100px" src="~/Resources/ImagesApp/Circulo.png" />
</div>
<div style="text-align:center;margin-top:50px">
    <label style="font-size:12px; color:black;"><strong>C G S Construcción </strong> Versión 1.0.0 - Todos los Derechos reservados &copy; By <strong>CGS Software</strong>  @DateTime.Now.Year</label>
</div>

